
.button {
    padding: 15px;
}

.form_left {
    width: 80%;
    padding-left: 30px;
}

.form_right {
    width: 30%;
    margin-left: 250px;
}

.popup_icon {
    width: 20px;
    height: 20px;
    display: inline;
}
